<div class="container-fluid row col-12">
    <%- include("./header.ejs") %>
</div>

<div class="container-fluid row">
    <div class="col-3">
        <%- include("./left.ejs") %>
</div>
<div class="col-9 fst-italic text-center text-danger pt-5">
    <h1>WELCOME TO</h1>
    <h3>DASHBOARD!!</h3>
</div>
</div>

 

