<div class="container-fluid row bg-dark mt-5 py-5 " >
    <h1><a href="/addproducts" class="link-underline link-underline-opacity-0"> Add Product </a> </h1> <br>
    <h1><a href="/viewproducts" class="link-underline link-underline-opacity-0"> View Product </a> </h1><br>
    <h1><a href="/viewcontact" class="link-underline link-underline-opacity-0"> View Contact </a> </h1><br>
    <h1><a href="/viewsignup" class="link-underline link-underline-opacity-0"> View Signup </a> </h1><br>
</div>
    
