<!-- .........................../////HEADER/////,.......................... -->
        
<%- include("./common/header.ejs") %>


<!-- ........................../////BANNER/////........................ -->

    
<div class="container" style="margin-top: 100px;">    
    <div class="row" style="background-color: white;">
  
     
        <div id="recipeCarousel" class="carousel carousel_1 slide" data-bs-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item item_1 active">
              <div class="col-12 col-md-3">
                <div class="card1">
                  <div class="card-img">
                   <center><a href=""><img src="/images/bannershoes_01.png"
                     style="height: 300px;" class="img-fluid"></a>
                  </div>
                    
                  </center>
                </div>
              </div>
            </div>
            <div class="carousel-item item_1">
              <div class="col-12 col-md-3">
                <div class="card1">
                  <div class="card-img">
                    <center><a href=""><img src="/images/bannershoes_02.png"
                         style="height: 300px;" class="img-fluid"></a>
                    </div>
                      
                    </center>
                </div>
              </div>
            </div>
            <div class="carousel-item item_1">
              <div class="col-12 col-md-3">
                <div class="card1">
                  <div class="card-img">
                    <center><a href=""><img src="/images/bannershoes_03.png"
                         style="height: 300px;" class="img-fluid"></a>
                    </div>
                      
                    </center>
                </div>
              </div>
            </div>
             <div class="carousel-item item_1">
              <div class="col-12 col-md-3">
                <div class="card1">
                  <div class="card-img">
                    <center><a href=""><img src="/images/bannershoes_04.png"
                         style="height: 300px;" class="img-fluid"></a>
                    </div>
                      
                    </center>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </a>
          <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </a>
        </div>
      </div>    
  </div>


  <!-- ................../////products/////..................... -->

  <div class="container mt-5">

    <h4>SHOES FOR MENS (376)</h4>
          
    <div class="container text-center row">
      
        <div class="col-12 col-md-4 mt-5">
            <div class="card1">
              <div class="card-img">
               <center><a href=""><img src="/images/shoes_01.webp"
                 style="height: 400px;" class="img-fluid"></a>
              </div>
              <br>

              <h6 style="font-size: 13px;">BLACK COLOURBLOCKED LEATHER SNEAKERS</h6>
              <h6>₹ 2,799  <del>₹3,999</del> <span style="color: red;">{30% Off}</span></h6>
                
              </center>
            </div>
        </div>

        <div class="col-12 col-md-4 mt-5">
            <div class="card1">
              <div class="card-img">
               <center><a href=""><img src="/images/shoes_02.webp"
                 style="height: 400px;" class="img-fluid"></a>
              </div>
              <br>

              <h6 style="font-size: 13px;">WHITE COLOURBLOCKED LEATHER SNEAKERS</h6>
              <h6>₹ 2,799  <del>₹3,999</del> <span style="color: red;">{30% Off}</span></h6>
                
              </center>
            </div>
        </div>
    


        <div class="col-12 col-md-4 mt-5">
            <div class="card1">
              <div class="card-img">
               <center><a href=""><img src="/images/shoes_03.webp"
                 style="height: 400px;" class="img-fluid"></a>
              </div>
              <br>

              <h6 style="font-size: 13px;">BLACK OMBRE KNIT LACE-UP SNEAKERS
            </h6>
              <h6>₹ 3,244  <del>₹5,499</del> <span style="color: red;">{41% Off}</span></h6>
                
              </center>
            </div>
        </div>

    </div>

    <div class="container text-center row mt-5">

        


        <div class="col-12 col-md-4 mt-5">
            <div class="card1">
              <div class="card-img">
               <center><a href=""><img src="/images/shoes_04.webp"
                 style="height: 400px;" class="img-fluid"></a>
              </div>
              <br>

              <h6 style="font-size: 13px;">WHITE LEATHER SUMMER BOOTS</h6>
              <h6>₹ 4,079  <del>₹5,999</del> <span style="color: red;">{32% Off}</span></h6>
                
              </center>
            </div>
        </div>


        <div class="col-12 col-md-4 mt-5">
            <div class="card1">
              <div class="card-img">
               <center><a href=""><img src="/images/shoes_05.webp"
                 style="height: 400px;" class="img-fluid"></a>
              </div>
              <br>

              <h6 style="font-size: 13px;">BLACK LEATHER BOOTS</h6>
              <h6>₹ 4,799  <del>₹5,999</del> <span style="color: red;">{20% Off}</span></h6>
                
              </center>
            </div>
        </div>


        <div class="col-12 col-md-4 mt-5">
            <div class="card1">
              <div class="card-img">
               <center><a href=""><img src="/images/shoes_06.webp"
                 style="height: 400px;" class="img-fluid"></a>
              </div>
              <br>

              <h6 style="font-size: 13px;">WHITE COLOURBLOCKED SNEAKERS</h6>
              <h6>₹ 3,599  <del>₹5,999</del> <span style="color: red;">{40% Off}</span></h6>
                
              </center>
            </div>
        </div>


        
      

    </div>
    </div>









<!-- ............................./////FOOTER/////............................... -->

<%- include("./common/footer.ejs") %>





<style type="text/css">@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
      display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
      display: block;
    }
  }

  .carousel-inner .carousel-item.active,
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    display: flex;
  }

  /* medium and up screens */
  @media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
  }

  .carousel-inner .carousel-item-end,
  .carousel-inner .carousel-item-start { 
    transform: translateX(0);
  }</style> 



<script type="text/javascript">
    let items = document.querySelectorAll('.carousel_1 .item_1')
  
      items.forEach((el) => {
        const minPerSlide = 4
        let next = el.nextElementSibling
        for (var i=1; i<minPerSlide; i++) {
          if (!next) {
              // wrap carousel by using first child
              next = items[0]
          }
          let cloneChild = next.cloneNode(true)
          el.appendChild(cloneChild.children[0]) 
          next = next.nextElementSibling
      }
  })
  
  </script>
  