<!-- .........................../////HEADER/////,.......................... -->
        
<%- include("./common/header.ejs") %>


<!-- ........................../////BANNER/////........................ -->

    
<div class="container" style="margin-top: 100px; "> 
  
  <img style="width: 100%;" src="/images/bannertshirt.png">
                    
  </div>


  <!-- ................../////products/////..................... -->

  

  <div class="container mt-5">

    <h4>T-SHIRT FOR MENS (1124)</h4>
          
    <div class="container text-center row">
      
        <div class="col-12 col-md-4 mt-5">
            <div class="card1">
              <div class="card-img">
               <center><a href=""><img src="/images/tshirt_01.webp"
                 style="height: 400px;" class="img-fluid"></a>
              </div>
              <br>

              <h6 style="font-size: 13px;">DARK RED LOGO TEXT CREW NECK T-SHIRT</h6>
              <h6>₹ 906  <del>₹1,499</del> <span style="color: red;">{45% Off}</span></h6>
                
              </center>
            </div>
        </div>

        <div class="col-12 col-md-4 mt-5">
            <div class="card1">
              <div class="card-img">
               <center><a href=""><img src="/images/tshirt_02.webp"
                 style="height: 400px;" class="img-fluid"></a>
              </div>
              <br>

              <h6 style="font-size: 13px;">WHITE CONTRAST POCKET OVERSIZED T-SHIRT</h6>
              <h6>₹ 1,549  <del>₹2,199</del> <span style="color: red;">{40% Off}</span></h6>
                
              </center>
            </div>
        </div>
    


        <div class="col-12 col-md-4 mt-5">
            <div class="card1">
              <div class="card-img">
               <center><a href=""><img src="/images/tshirt_03.webp"
                 style="height: 400px;" class="img-fluid"></a>
              </div>
              <br>

              <h6 style="font-size: 13px;">NAVY LOGO PRINT CREW NECK T-SHIRT</h6>
              <h6>₹ 1,199 <del>₹1,499</del> <span style="color: red;">{30% Off}</span></h6>
                
              </center>
            </div>
        </div>

    </div>

    <div class="container text-center row mt-5">

        


        <div class="col-12 col-md-4 mt-5">
            <div class="card1">
              <div class="card-img">
               <center><a href=""><img src="/images/tshirt_04.webp"
                 style="height: 400px;" class="img-fluid"></a>
              </div>
              <br>

              <h6 style="font-size: 13px;">RICK & MORTY PEACH PRINTED OVERSIZED T-SHIRT</h6>
              <h6>₹ 1,599  <del>₹1,999</del> <span style="color: red;">{30% Off}</span></h6>
                
              </center>
            </div>
        </div>


        <div class="col-12 col-md-4 mt-5">
            <div class="card1">
              <div class="card-img">
               <center><a href=""><img src="/images/tshirt_05.webp"
                 style="height: 400px;" class="img-fluid"></a>
              </div>
              <br>

              <h6 style="font-size: 13px;">BLUE COLOURBLOCKED COTTON POLO T-SHIRT</h6>
              <h6>₹ 1,849  <del>₹2,499</del> <span style="color: red;">{40% Off}</span></h6>
                
              </center>
            </div>
        </div>


        <div class="col-12 col-md-4 mt-5">
            <div class="card1">
              <div class="card-img">
               <center><a href=""><img src="/images/tshirt_06.webp"
                 style="height: 400px;" class="img-fluid"></a>
              </div>
              <br>

              <h6 style="font-size: 13px;">BLACK TROPICAL PRINT SLEEVELESS T-SHIRT</h6>
              <h6>₹ 1,349  <del>₹1,999</del> <span style="color: red;">{30% Off}</span></h6>
                
              </center>
            </div>
        </div>


        
      

    </div>
    </div>
    
    <br>
    <br>




<!-- ............................./////FOOTER/////............................... -->

<%- include("./common/footer.ejs") %>