

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>


<div class="container-fluid text-center fbackground mt-5" style="color: black;">  
    

    <div class="row">
       
         <div class="col-12 col-md-4 mt-4 ">
             <h4>ONLINE SHOPPING</h4> 
             <p>Men<br>
             Women<br>
             Kids<br>
             Home & Living<br>
             Beauty<br>
             Gift Cards<br>
             Warrior Insider</p>
         </div>
        
         <div class="col-12 col-md-4 mt-4 ">
          <h4>Blog</h4>
             <p>Careers<br>
             Site Map<br>
             Corporate Information<br>
             Whitehat<br>
             Cleartrip</p>
          
        </div>
         
    
         <div class="col-12 col-md-4 mt-4" style="font-size: 28px;">
    
        <img width="70px" height="70px" src="/images/logo.png">Warrior
        <h5>&nbsp&nbsp&nbspA TATA Enterprise</h5>
        <br>
    
        <h4>CONTACT US</h4>
        <img width="30px" height="30px;" src="/images/youtubelogo.png">
        <img width="30px" height="30px;" src="/images/facebooklogo.png">
        <img width="30px" height="30px;" src="/images/twitterlogo.png">
        <img width="30px" height="30px;"src="/images/instagramlogo.png">
    
          
        </div>
 
        
 
        <div class="col-12 col-md-4 mt-4 textdeco ">
         <h5>CUSTOMER POLICIES</h5>
 
         <a href="/contactus"><p>Contact Us<br></a>
         FAQ<br>
         T&C<br>
         Terms Of Use<br>
         Track Orders<br>
         Shipping<br>
         Cancellation<br>
         Returns<br>
         Privacy policy<br>
         Grievance Officer</p>
 
      </div>
       
     
       </div>
 
     </div>
 
     
     </div> 
 
    
    <br>
    <br>
 
      
 
 <div class="container-fluid" style="background-color: white; color: black;">
   <div class="row">
 
       <div class="col-md-1">  
       </div>
 
       <div class="col-md-10 textc">
         <h4> POPULAR SEARCHES</h4>
         <p>Makeup | Dresses For Girls | T-Shirts | Sandals | Headphones | Babydolls | Blazers For Men |Handbags |
            LadiesWatches | Bags |Sport Shoes | Reebok Shoes | Puma Shoes | Boxers |Wallets | Tops |Earrings |
            Fastrack Watches | Kurtis |Nike |Smart Watches | Titan Watches | Designer Blouse |Gowns | Rings |
             Cricket Shoes | Forever 21 | Eye Makeup | Photo Frames | Punjabi Suits | Bikini | Warrior Fashion Show |
              Lipstick | Saree | Watches | Dresses | Lehenga | Nike Shoes | Goggles | Bras | Suit | Chinos | Shoes |
              . Adidas Shoes | Woodland Shoes | Jewellery | Designers Sarees</p>
        </div>
         
       <div class="col-1">
       </div>
   </div>
 </div>
 
 
   <div class="container-fluid" style="background-color: white; color: black;">
 
      <div class="row">
 
       <div class="col-md-1"> 
       </div>
 
       <div class="col-md-10 textc">
         <h4> Registered Office Address</h4>
 
             <p>Buildings Alyssa,<br>
             Begonia and Clover situated in Embassy Tech Village,<br>
             Outer Ring Road,<br>
             Devarabeesanahalli Village,<br>
             Varthur Hobli,<br>
             Bengaluru – 560103, India</p>
       </div>
         
       <div class="col-md-1">
         
       </div>
 
     </div>
   
     </div>
 
     
 
     <div class="container-fluid" style="background-color: white; color: black;">
 
        <div class="row">
 
     <div class="col-md-1">
     </div>
     
 <div class="col-md-10 textc">
 
     <h5>ONLINE SHOPPING MADE EASY AT WARRIOR</h5>
 <p>If you would like to experience the best of online shopping for men, women and kids in India, you are at the right place. Warrior is the ultimate
  destination for fashion and lifestyle, being host to a wide array of merchandise including clothing, footwear, accessories, jewellery, personal 
  care products and more. It is time to redefine your style statement with our treasure-trove of trendy items. Our online store brings you the 
  latest in designer products straight out of fashion houses. You can shop online at Warrior from the comfort of your home and get your favourites 
  delivered right to your doorstep.</p>
 
 <h4>BEST ONLINE SHOPPING SITE IN INDIA FOR FASHION</h4>
 <p>Be it clothing, footwear or accessories, Warrior offers you the ideal combination of fashion and functionality for men, women and kids. You will 
 realise that the sky is the limit when it comes to the types of outfits that you can purchase for different occasions.</p>
 
 
 <ol type="1">
 <li><strong>Smart men’s clothing</strong> - At Warrior you will find myriad options in smart formal shirts and trousers, cool T-shirts and jeans, or kurta and pyjama
  combinations for men. Wear your attitude with printed T-shirts. Create the back-to-campus vibe with varsity T-shirts and distressed jeans. 
  Be it gingham, buffalo, or window-pane style, checked shirts are unbeatably smart. Team them up with chinos, cuffed jeans or cropped trousers
   for a smart casual look. Opt for a stylish layered look with biker jackets. Head out in cloudy weather with courage in water-resistant jackets.
    Browse through our innerwear section to find supportive garments which would keep you confident in any outfit.</li>
 <li><strong>Trendy women’s clothing</strong> - Online shopping for women at Warrior is a mood-elevating experience. Look hip and stay comfortable with chinos and printed
  shorts this summer. Look hot on your date dressed in a little black dress, or opt for red dresses for a sassy vibe. Striped dresses and T-shirts
   represent the classic spirit of nautical fashion. Choose your favourites from among Bardot, off-shoulder, shirt-style, blouson, embroidered and
    peplum tops, to name a few. Team them up with skinny-fit jeans, skirts or palazzos. Kurtis and jeans make the perfect fusion-wear combination 
    for the cool urbanite. Our grand sarees and lehenga-choli selections are perfect to make an impression at big social events such as weddings. 
    Our salwar-kameez sets, kurtas and Patiala suits make comfortable options for regular wear.</li>
 <li><strong>Fashionable footwear</strong> - While clothes maketh the man, the type of footwear you wear reflects your personality. We bring you an exhaustive lineup of
  options in casual shoes for men, such as sneakers and loafers. Make a power statement at work dressed in brogues and oxfords. Practice for your 
  marathon with running shoes for men and women. Choose shoes for individual games such as tennis, football, basketball, and the like. Or step into 
  the casual style and comfort offered by sandals, sliders, and flip-flops. Explore our lineup of fashionable footwear for ladies, including pumps, 
  heeled boots, wedge-heels, and pencil-heels. Or enjoy the best of comfort and style with embellished and metallic flats.</li>
 <li><strong>Stylish accessories</strong> - Warrior is one of the best online shopping sites for classy accessories that perfectly complement your outfits. You can select
  smart analogue or digital watches and match them up with belts and ties. Pick up spacious bags, backpacks, and wallets to store your essentials
   in style. Whether you prefer minimal jewellery or grand and sparkling pieces, our online jewellery collection offers you many impressive options.
 Fun and frolic - Online shopping for kids at Warrior is a complete joy. Your little princess is going to love the wide variety of pretty dresses,
  ballerina shoes, headbands and clips. Delight your son by picking up sports shoes, superhero T-shirts, football jerseys and much more from our 
  online store. Check out our lineup of toys with which you can create memories to cherish.</li>
 <li><strong>Beauty begins here</strong> - You can also refresh, rejuvenate and reveal beautiful skin with personal care, beauty and grooming products from Warrior. Our 
 soaps, shower gels, skin care creams, lotions and other ayurvedic products are specially formulated to reduce the effect of aging and offer the 
 ideal cleansing experience. Keep your scalp clean and your hair uber-stylish with shampoos and hair care products. Choose makeup to enhance your
  natural beauty.</li>
 </ol>
 
 <p>Warrior is one of the best online shopping sites in India which could help transform your living spaces completely. Add colour and personality to 
 your bedrooms with bed linen and curtains. Use smart tableware to impress your guest. Wall decor, clocks, photo frames and artificial plants are
  sure to breathe life into any corner of your home.</p>
 
 <h4>AFFORDABLE FASHION AT YOUR FINGERTIPS</h4>
 <p>Warrior is one of the unique online shopping sites in India where fashion is accessible to all. Check out our new arrivals to view the latest
      designer clothing, footwear and accessories in the market. You can get your hands on the trendiest style every season in western wear. You 
      can also avail the best of ethnic fashion during all Indian festive occasions. You are sure to be impressed with our seasonal discounts on 
      footwear, trousers, shirts, backpacks and more. The end-of-season sale is the ultimate experience when fashion gets unbelievably affordable.</p>
 
 <h4>WARRIOR INSIDER</h4>
 <p>Every online shopping experience is precious. Hence, a cashless reward-based customer loyalty program called Warrior Insider was introduced to 
     enhance your online experience. The program is applicable to every registered customer and measures rewards in the form of Insider Points.</p>
 
 <p>There are four levels to achieve in the program, as the Insider Points accumulate. They are - Insider, Select, Elite or Icon. Apart from 
     offering discounts on Warrior and partner platform coupons, each tier comes with its own special perks.</p>
 
     <strong>Insider</strong>
 
 <ul>
 <li>Opportunity to master any domain in fashion with tips from celebrity stylists at Warrior Masterclass sessions.</li>
 <li>Curated collections from celeb stylists.</li>
 </ul>
 <strong>Elite</strong>
 <ul>
 <li>VIP access to special sale events such as the End of Reason Sale (EORS) and product launches.</li>
 <li>Exclusive early access to Limited Edition products</li>
 </ul>
 <strong>Icon</strong>
 <ul>
 <li>Chance to get on guest lists for special events.</li>
 </ul>
 
 <h4>WARRIOR Studio - The Personalised Fashion Feed You Wouldn’t Want To Miss Out On</h4>
 <p>The world wide web is evolving at a relentless pace, and with an accelerated growth each passing year, there is bound to be an overwhelming surge
  of online content. It was for this very reason that personalisation of search feeds was proposed as a solution to combat the overload of 
  irrelevant information.</p>
 
 <p>Several social media platforms such as Facebook and Instagram along with various online shopping websites have chosen to help filter content, 
     increasing user engagement, retention and customer loyalty.</p>
 
 <p>Warrior is one such online shopping website that joins the list of platforms that help curate a personalised fashion feed. Named theWarrior 
     Studio, this personalised search feed brings you the latest men and women’s fashion trends, celebrity styles, branded content and daily 
     updates from your favourite fashion labels.</p>
 
 <p>If you are wondering how impactful Warrior Studio can be, we are listing out five perks of having a rich, meaningful, and p</p>
 
 <ol type="1">
     <li><strong>Keep Up With What Your Favourite Fashion Icons Are Upto</strong> 
         <p>The #OOTD, AKA outfit of the day hashtag trend has been a rage among fashion bloggers and stylists. The whole concept of building an 
             outfit from scratch and showcasing it to a huge community of enthusiasts using the hashtag has helped individuals with understanding
              trends and making suitable for daily wear.</p>
 
         <p>Imagine if you could keep up with every piece of clothing and accessory worn by the fashion icons you look upto. From Sonam Kapoor to 
             Hailey Baldwin Bieber, Warrior Studio has a ‘Stories’ feature to help track celebrity fashion trends, exploring details such as their 
             outfit of the day. This way, you would not ever miss out on the latest celebrity fashion trends, from all around the world.</p>
         </li>
     <li><strong>Quick Fashion Tip And Tricks</strong>
         <p>Whether it is draping a saree into a dhoti style, wearing the right lingerie under certain 
         dresses or discovering multiple uses out of heavy ethnic wear, Warrior Studio will help you acquire some unique and useful fashion hacks.
          Each hack is designed with the intention to help you get the best wear out of everything in your wardrobe.</p></li>
     <li><strong>Updates on What Is Trending and New Product Launches</strong>
         <p>Since fast fashion seems to be extremely hard to keep up with these days, a quick update on what is trending in accessories, clothing 
             and footwear would certainly be of great help. Warrior Studio helps you stay connected to the most beloved and sought after brands
              such as Puma, Coverstory, The Label Life and so many more.</p>
 
         <p>Your feed keeps you updated with stories of what the brands are creating including clothing, footwear and jewellery, along with their 
             new seasonal collections.</p></li>
     <li><strong>Explicit Step-By-Step Beauty Routines From Experts</strong>
         <p>Just like fashion, the beauty community keeps on growing, and with brands such as Huda Beauty, MAC and the latest Kay Beauty by Katrina Kaif, are constantly coming up with mind-blowing products. Whether
           it is creating a no-makeup look, different winged eyeliners, do-it-yourself facial masks and other personal care beauty routines, 
           Warrior Studio is here for you.</p></li>
     <li><strong>Celebrity Confessions And A Look Into Their Lives</strong>
         <p>A bonus feature that Warrior Studio has in store for you is celebrity confessions and a peek into their lives. So, Warrior helps you stay 
         connected to your most beloved celebrities in a matter of clicks.</p>
 
         <p>If you are very particular when it comes to the content you wish to view and engage with on social media, the ability to intricately 
         filter content helps achieve that. Applying the same formula for hardcore fashion lovers and shoppers, Warrior Studio brings you a daily
          fashion fix incorporating everything that you love, all at one place. Sign up on Warrior today and start organising your fashion feed, 
          just the way you want to.</p></li>
     </ol>
 
 
     <h4>WARRIOR APP</h4>
    <p>Warrior, India’s no. 1 online fashion destination justifies its fashion relevance by bringing something new and chic to the table on the daily.
  Fashion trends seem to change at lightning speed, yet the Warrior shopping app has managed to keep up without any hiccups. In addition, Warrior has
   vowed to serve customers to the best of its ability by introducing its first-ever loyalty program, The Warrior Insider. Gain access to priority 
   delivery, early sales, lucrative deals and other special perks on all your shopping with the Warrior app. Download the Warrior app on your Android 
   or IOS device today and experience shopping like never before!</p>
 
     <h4>HISTORY OF WARRIOR</h4>
     <p>ecoming India’s no. 1 fashion destination is not an easy feat. Sincere efforts, digital enhancements and a team of dedicated personnel with 
         an equally loyal customer base have made Warrior the online platform that it is today. The original B2B venture for personalized gifts was
          conceived in 2007 but transitioned into a full-fledged ecommerce giant within a span of just a few years. By 2012, Warrior had introduced
           350 Indian and international brands to its platform, and this has only grown in number each passing year. Today Warrior sits on top of 
           the online fashion game with an astounding social media following, a loyalty program dedicated to its customers, and tempting, 
           hard-to-say-no-to deals.</p>
 
     <p>The Warrior shopping app came into existence in the year 2015 to further encourage customers’ shopping sprees. Download the app on your 
         Android or IOS device this very minute to experience fashion like never before</p>
 
     <h4>HOP ONLINE AT WARRIOR WITH COMPLETE CONVENIENCE</h4>
    <p>nother reason why Warrior is the best of all online stores is the complete convenience that it offers. You can view your favourite brands
      with price options for different products in one place. A user-friendly interface will guide you through your selection process. 
      Comprehensive size charts, product information and high-resolution images help you make the best buying decisions. You also have the freedom 
      to choose your payment options, be it card or cash-on-delivery. The 14-day returns policy gives you more power as a buyer. Additionally, 
      the try-and-buy option for select products takes customer-friendliness to the next level.</p>
 
    <p>Enjoy the hassle-free experience as you shop comfortably from your home or your workplace. You can also shop for your friends, family and 
     loved-ones and avail our gift services for special occasions.</p>
 
    </div>
 
     <div class="col-md-1">
     </div>
   </div>
     
 </div>